.about-me {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 96px;
    &__picture {
        display: flex;
        max-width: 572px;
        border: 16px solid #eab308;
        border-radius: 24px;
        &__img {
            position: relative;
            top: -25px;
            left: 30px;
           img {
            max-width: 100%;
            border-radius: 24px;
            object-fit: cover;
            display: block;
           }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 509px;
        h2 {
            font-weight: 700;
            font-size: 42px;
            line-height: 152%;
            color: #f3f4f6;
            padding-bottom: 32px;
            span {
                color: $yellow-color;
            }
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 169%;
            color: #6b7280; 
        }
        &__paragraph {
            display: flex;
            flex-direction: column;
            gap: 18px;
            padding-bottom: 40px;
        }
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}