.hero {
    background-color: $second-color;
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    
    &__text {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 466px;
        margin-top: 78px;
        margin-bottom: 78px;
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 169%;
                color: #6b7280;
            }
            .welcome {
                color: $yellow-color;
            }
            h2 {
                font-weight: 700;
                font-size: 42px;
                line-height: 152%;
                color: #f3f4f6;
            }
    }

    &__img {
        max-width: 427px;
        display: flex;
        img {
            max-width: 100%;
            border-radius: 24px;
            object-fit: cover;
            }
    }
    @media screen and (max-width:425px) {
        flex-direction: column;
        padding-top: 0px;
    }
}