body {
    font-family: $font-family;
    background-color: $first-color;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

header,
.hero,
.my-service,
.my-experiences,
.about-me,
.my-portfolio,
.contact-me,
footer 
{
    @media screen and (max-width: 1024px){
        padding-inline: 40px; 
    }
    padding-inline: 168px;
}