@import 'https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Deca:wght@100..900&display=swap';
$font-family: "Lexend Deca", sans-serif;
$second-family: "Arvo", serif;
$first-color: #020617;
$second-color: #111827;
$yellow-color: #EAB308;